<!DOCTYPE html>
<html ng-app>
    <head>

    </head>

    <body ng-controller="BandsController">
        <p>{{band}}</p>

        <script src="/public/js/angular.js"></script>
        <script src="/public/js/controllers/BandsController.js"></script>
    </body>
</html>